wandb/
logs/
dist/
.DS_Store
build/
*.swp
.idea
*.pyc
.pytest_cache
*.egg-info
__pycache__/
*.so

# VS Code files and container
.vscode/
.devcontainer/

# pytest
.coverage*
htmlcov/
coverage.xml

# docs
docs/build/

# venv
./venv
./.venv

# ruff
.ruff_cache
